.inputForm{
    /*background-color: white;*/
    display: flex;
    flex-direction: row;
    border-bottom: darkgray 2px solid;
}
.inputSection{

    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1rem;
    width: 15em;
    background-color: white;

    font-weight: bold;

    color: gray;
}
.inputField{
    font-weight: bold;
    font-size: 3rem;
    border-radius: .5rem;
    margin-top: 0.5rem;

    border-color: gray;

}

.inputError{
    border-color: lightcoral !important;

}
.inputError:focus {
    border-color: lightcoral;
    outline: none; /* Optional: removes the default blue glow */
}
.error{
    margin-top: .5rem;
    color: lightcoral;
    font-weight: normal;
    font-style: italic;
    font-size: .8rem;
}
.svg-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.submitButton{
    position: relative;
    top: 8rem;
    right: 1rem;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    background-color: rebeccapurple;
    padding: 10px;
    transition: transform 0.2s ease, background-color 0.3s ease;
    z-index: 999;
    box-shadow: darkgray 8px 5px 10px;
}
.submitButton:hover{
    background-color: mediumpurple;
}